@tailwind base;
@tailwind components;

@layer base {
    :root {
        --background: #1B1D2A;
        --background-scrollbar: rgba(87, 94, 137, 0.7);
        --background-scrollbar-hover: rgba(118, 127, 185, 0.7);
    }
    
    body {
        @apply bg-[var(--background)] text-white flex flex-col;
        font-family: 'Inter', sans-serif;
    }

    /* Custom scrollbar */
    ::-webkit-scrollbar {
        width: 8px;
    }

    ::-webkit-scrollbar-track {
        background-color: rgba(0, 0, 0, 0.20);
        border-radius: 20px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: var(--background-scrollbar);
        border-radius: 20px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: var(--background-scrollbar-hover);
    }
}

@layer components {
    #__next {
        height: 100%;
    }

    ._app {
        @apply flex flex-row m-0;
    }

    .App__VentureApp {
        @apply w-full h-full;
    }

    .App__VentureApp > .App__BodyContainer {
        @apply flex flex-row flex-grow w-full h-full rounded-tl-xl overflow-hidden;
    }
}