@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter.ttf') format('truetype');
}

@font-face {
    font-family: 'Material Symbols Rounded';
    font-style: normal;
    src: url('/fonts/MaterialSymbolsRounded.ttf') format('truetype');
}

@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato/Lato-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato/Lato-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato/Lato-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato/Lato-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato/Lato-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato/Lato-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato/Lato-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato/Lato-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato/Lato-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@layer base {
    body {
        @apply bg-[#1B1D2A] text-white flex flex-col;
        font-family: 'Inter', sans-serif;
    }
}

@layer components {
    .btn-blue {
        @apply text-white font-bold px-4 py-2 rounded bg-blue-600 hover:bg-blue-500;
    }

    #__next {
        height: 100%;
    }

    ._app {
        @apply flex flex-row m-0;
    }

    .app {
        @apply w-full h-full;
    }

    /* Base End */

    .login {
        @apply bg-gray-600 rounded-lg shadow-lg p-8 flex flex-row gap-3 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 py-2 w-1/2;
    }

    .text-input {
        @apply bg-gray-900 text-white py-2 px-4 rounded outline-none focus:outline-blue-500 focus:outline-offset-0;
    }

    .button-primary {
        @apply bg-blue-600 text-white py-2 px-4 rounded hover:bg-blue-500 outline-none focus:outline-blue-500 focus:outline-offset-0;
    }

    .plain-login {
        @apply flex flex-col gap-3 w-full;
    }

    .plain-login>h1 {
        @apply text-2xl font-bold;
    }

    .qr-login {
        @apply flex flex-col gap-3 w-full items-center justify-center;
    }

    .qr-login > h1 {
        @apply text-2xl font-bold;
    }

    /* template end */

    /* Server list */

    .server-list {
        @apply flex flex-col items-center gap-[8px] self-stretch w-[72px] h-full /*overflow-y-scroll*/; /* TODO: Fix server item overflow + indicators dont move on scroll */
    }

    .server-list > .app-home {
        @apply flex w-12 h-12 p-3 justify-center items-center gap-3 cursor-pointer hover:rounded-xl rounded-3xl hover:bg-opacity-70 bg-opacity-10 hover:bg-[#2A3FAE] bg-white transition-all duration-[150ms] ease-linear;
    }

    .server-list > .app-home.selected {
        @apply rounded-xl bg-opacity-70 bg-[#2A3FAE];
    }

    .server-list > .server-item.selected {
        @apply bg-[#2A3FAE] bg-opacity-100 rounded-xl;
    }

    .server-list > .app-home > .indicator {
        @apply absolute w-2 h-2 rounded-full bg-white bg-opacity-50 left-[-3px];
    }

    .server-list > .app-home > .indicator.full {
        @apply h-8;
    }

    .server-list > .server-item {
        @apply flex w-12 h-12 p-3 flex-shrink-0 justify-center items-center gap-3 cursor-pointer hover:rounded-xl rounded-3xl overflow-hidden transition-all duration-[150ms] ease-linear;
    }

    .server-list > .server-item.selected {
        @apply rounded-xl;
    }

    .server-list > .server-item > .server-icon {
        @apply w-12 h-12 max-w-none;
    }

    .server-list > .server-item > .indicator {
        @apply absolute w-2 h-2 rounded-full bg-white bg-opacity-50 left-[-3px];
    }

    .server-list > .server-item > .indicator.full {
        @apply h-8;
    }

    .server-list > .separator {
        @apply w-8 h-0.5 rounded-[1px] bg-opacity-10 bg-white;
    }

    .server-list > .extra-item {
        @apply flex w-12 h-12 p-3 justify-center items-center gap-3 cursor-pointer hover:rounded-xl rounded-3xl hover:bg-opacity-30 bg-opacity-10 hover:bg-[#000] bg-white transition-all duration-[150ms] ease-linear;
    }

    .app > .content {
        @apply flex flex-col flex-grow w-full h-full rounded-tl-xl overflow-hidden;
    }

    /* App navbar container */

    .app > .content > .navbar {
        @apply flex items-start self-stretch;
    }
    
    .app > .content > .navbar > .sidebar {
        @apply flex flex-col items-center gap-3 bg-opacity-30 bg-[#000] pt-3;
    }

    .app > .content > .navbar > .sidebar > .shadow {
        @apply flex flex-col items-center;
    }

    .app > .content > .navbar > .sidebar > .content {
        @apply flex gap-3 w-[220px] h-[28px] p-[4px_6px] rounded-md bg-[#000] bg-opacity-30 cursor-pointer;
    }

    .app > .content > .navbar > .sidebar > .content > span {
        @apply text-white opacity-30 font-['Lato'] font-medium text-sm tracking-[0.21px];
    }

    .app > .content > .navbar > .sidebar > .shadow > .separator {
        @apply w-[240px] h-[1px] bg-[#000] bg-opacity-40;
    }

    .app > .content > .navbar > .sidebar > .shadow > .dropshadow {
        @apply w-[240px] h-[1px] bg-[#000] bg-opacity-20;
    }
    
    /* App navbar */

    .app > .content > .navbar > .body {
        @apply flex flex-col items-start gap-3 self-stretch justify-center bg-opacity-20 bg-[#000] w-full max-h-[54px];
    }

    .app > .content > .navbar > .body > .content {
        @apply flex flex-row px-3 items-start self-stretch justify-start;
    }

    .app > .content > .navbar > .body > .content > .nav-left {
        @apply flex items-center gap-4 w-full;
    }

    .app > .content > .navbar > .body > .content > .nav-left {
        @apply flex gap-4;
    }

    .app > .content > .navbar > .body > .content > .nav-left > .heading {
        @apply flex justify-center items-center gap-2;
    }

    .app > .content > .navbar > .body > .content > .nav-left > .heading > icon {
        @apply opacity-50;
    }

    .app > .content > .navbar > .body > .content > .nav-left > .heading > span {
        @apply text-white text-[16px] not-italic font-semibold leading-[108.5%] tracking-[-0.401px];
    }

    .app > .content > .navbar > .body > .shadow {
        @apply flex flex-col items-center self-stretch absolute top-[52px] w-[-webkit-fill-available] w-[-moz-available];
    }

    .app > .content > .navbar > .body > .shadow > .separator {
        @apply w-full h-[1px] bg-[#000] bg-opacity-20;
    }

    .app > .content > .navbar > .body > .shadow > .dropshadow {
        @apply w-full h-[1px] bg-[#000] bg-opacity-10;
    }

    .app > .content > .navbar > .body .separator {
        @apply w-0.5 h-[30px] rounded-[1px] bg-white bg-opacity-10;
    }

    .app > .content > .navbar > .body > .content > .nav-left > .tabs {
        @apply flex justify-center items-center gap-3;
    }

    .app > .content > .navbar > .body > .content > .nav-left > .tabs > .button {
        @apply flex justify-center items-center gap-2.5 px-2 py-0.5 rounded-md hover:bg-white hover:bg-opacity-10 transition-all duration-[100ms] ease-linear;
    }

    .app > .content > .navbar > .body > .content > .nav-left > .tabs > .button.selected {
        @apply bg-white bg-opacity-20;
    }

    .app > .content > .navbar > .body > .content > .nav-left > .tabs > .button.filled {
        @apply bg-[#000] bg-opacity-40;
    }


    .app > .content > .navbar > .body > .content > .nav-right {
        @apply flex items-center gap-3 flex-shrink-0 h-full;
    }

    .app > .content > .navbar > .body > .content > .nav-right > .new-dm {
        @apply flex items-center gap-2.5 self-stretch;
    }

    .app > .content > .navbar > .body > .content > .nav-right > .icons {
        @apply flex flex-row justify-center items-center gap-3 self-stretch;
    }

    .app > .content > .navbar > .body > .content > .nav-right > .new-dm > icon,
    .app > .content > .navbar > .body > .content > .nav-right > .icons > icon {
        @apply h-6 hover:opacity-100 opacity-50 transition-all duration-[100ms] ease-linear cursor-pointer;
    }

    /* App body */

    .app > .content > .body {
        @apply w-full h-full flex flex-row;
    }

    .app > .content > .body > .sidebar {
        @apply flex w-60 h-full flex-col items-center flex-shrink-0;
    }

    .app > .content > .body > .sidebar > .dm-list {
        @apply flex items-start h-full gap-2.5 self-stretch px-0.5 py-2.5 bg-[#000] bg-opacity-30;
    }

    .app > .content > .body > .sidebar > .dm-list > .content {
        @apply flex flex-col w-full justify-center items-center gap-5;
    }

    .app > .content > .body > .sidebar > .dm-list > .content > .tabs {
        @apply flex flex-col items-start gap-0.5 self-stretch px-2 py-0;
    }

    .app > .content > .body > .sidebar > .dm-list > .content > .dms > .message-requests > .tab,
    .app > .content > .body > .sidebar > .dm-list > .content > .tabs > .tab {
        @apply flex items-center gap-4 self-stretch px-4 py-2.5 rounded-md hover:bg-white hover:bg-opacity-10 transition-all duration-[100ms] ease-linear cursor-pointer;
    }

    .app > .content > .body > .sidebar > .dm-list > .content > .dms > .message-requests > .tab {
        @apply w-full;
    }

    .app > .content > .body > .sidebar > .dm-list > .content > .dms > .message-requests > .tab.selected,
    .app > .content > .body > .sidebar > .dm-list > .content > .tabs > .tab.selected {
        @apply bg-white bg-opacity-10;
    }

    .app > .content > .body > .sidebar > .dm-list > .content > .dms > .message-requests > .tab > icon,
    .app > .content > .body > .sidebar > .dm-list > .content > .tabs > .tab > icon {
        @apply opacity-50 transition-all duration-[100ms] ease-linear;
    }

    .app > .content > .body > .sidebar > .dm-list > .content > .dms > .message-requests > .tab:hover > icon,
    .app > .content > .body > .sidebar > .dm-list > .content > .dms > .message-requests > .tab.selected > icon,
    .app > .content > .body > .sidebar > .dm-list > .content > .tabs > .tab:hover > icon,
    .app > .content > .body > .sidebar > .dm-list > .content > .tabs > .tab.selected > icon {
        @apply opacity-100;
    }

    .app > .content > .body > .sidebar > .dm-list > .content > .dms > .message-requests > .tab > span,
    .app > .content > .body > .sidebar > .dm-list > .content > .tabs > .tab > span {
        @apply text-white text-base not-italic font-normal tracking-[0.08px] opacity-50 transition-all duration-[100ms] ease-linear;
    }

    .app > .content > .body > .sidebar > .dm-list > .content > .dms > .message-requests > .tab:hover > span,
    .app > .content > .body > .sidebar > .dm-list > .content > .dms > .message-requests > .tab.selected > span,
    .app > .content > .body > .sidebar > .dm-list > .content > .tabs > .tab:hover > span,
    .app > .content > .body > .sidebar > .dm-list > .content > .tabs > .tab.selected > span {
        @apply opacity-100;
    }

    .app > .content > .body > .sidebar > .dm-list > .content > .dms {
        @apply flex flex-col justify-center items-center gap-2 self-stretch px-2 py-0;
    }

    .app > .content > .body > .sidebar > .dm-list > .content > .dms > .heading {
        @apply flex justify-center items-center gap-2.5 self-stretch px-2 py-px;
    }

    .app > .content > .body > .sidebar > .dm-list > .content > .dms > .heading > span {
        @apply w-full text-white opacity-50 text-sm not-italic tracking-[-0.455px];
    }

    .app > .content > .body > .sidebar > .dm-list > .content > .dms > .heading:hover > span {
        @apply opacity-100;
    }

    .app > .content > .body > .sidebar > .dm-list > .content > .dms > .heading > icon {
        @apply opacity-50 hover:opacity-100 cursor-pointer;
    }

    .app > .content > .body > .sidebar > .dm-list > .content > .dms > .message-requests {
        @apply flex items-center gap-5 self-stretch rounded-md;
    }

    .app > .content > .body > .sidebar > .dm-list > .content > .dms > .users {
        @apply flex flex-col items-start gap-0.5 self-stretch;
    }

    .app > .content > .body > .sidebar > .dm-list > .content > .dms > .users > .user {
        @apply flex flex-shrink-0 items-center gap-3 self-stretch px-2 py-1 rounded-md min-h-[43px] cursor-pointer;
    }

    .app > .content > .body > .sidebar > .dm-list > .content > .dms > .users > .user:hover,
    .app > .content > .body > .sidebar > .dm-list > .content > .dms > .users > .user.selected {
        @apply bg-white bg-opacity-10 transition-all duration-[100ms] ease-linear;
    }

    .app > .content > .body > .sidebar > .dm-list > .content > .dms > .users > .user > img {
        @apply w-8 h-8 shrink-0;
    }

    .app > .content > .body > .sidebar > .dm-list > .content > .dms > .users > .user > .info {
        @apply flex flex-col items-start;
    }

    .app > .content > .body > .sidebar > .dm-list > .content > .dms > .users > .user > .info > .username {
        @apply self-stretch text-white opacity-50 text-base not-italic font-medium leading-[normal];
    }

    .app > .content > .body > .sidebar > .dm-list > .content > .dms > .users > .user > .info > .status {
        @apply text-white opacity-50 text-xs not-italic leading-[normal] tracking-[-0.36px];
    }

    .app > .content > .body > .sidebar > .dm-list > .content > .dms > .users > .user > .info > .rpc {
        @apply flex justify-center items-end gap-0.5 self-stretch;
    }

    .app > .content > .body > .sidebar > .dm-list > .content > .dms > .users > .user > .info > .rpc > span {
        @apply text-white opacity-50 text-xs not-italic leading-[normal] tracking-[-0.36px]
    }

    .app > .content > .body > .sidebar > .dm-list > .content > .dms > .users > .user > .info > .rpc > .name {
        @apply font-semibold;
    }

    .app > .content > .body > .sidebar > .dm-list > .content > .dms > .users > .user > .info > .rpc > icon {
        @apply opacity-50;
    }

    .app > .content > .body > .sidebar > .profile {
        @apply flex items-center self-stretch px-2 py-2.5 bg-[#000] bg-opacity-50;
    }

    .app > .content > .body > .sidebar > .profile > .user {
        @apply flex items-center gap-[5px] w-full p-1.5 cursor-pointer rounded hover:bg-white hover:bg-opacity-10 transition-all duration-[100ms] ease-linear;
    }

    .app > .content > .body > .sidebar > .profile > .user > img {
        @apply w-8 h-8 rounded-3xl;
    }

    .app > .content > .body > .sidebar > .profile > .user > .info {
        @apply flex flex-col items-start gap-[-2.5px];
    }

    .app > .content > .body > .sidebar > .profile > .user > .info > .username {
        @apply text-white text-sm not-italic font-semibold leading-[normal];
    }

    .app > .content > .body > .sidebar > .profile > .user > .info > .status {
        @apply text-white text-xs not-italic font-normal leading-[normal] truncate overflow-ellipsis;
    }

    .app > .content > .body > .sidebar > .profile > .buttons {
        @apply flex flex-shrink-0 justify-center items-center;
    }

    .app > .content > .body > .sidebar > .profile > .buttons > a.button {
        @apply flex justify-center items-center p-1 rounded hover:bg-white hover:bg-opacity-10 transition-all duration-[100ms] ease-linear;
    }

    .app > .content > .body > .sidebar > .profile > .buttons > a.button > icon {
        @apply opacity-50;
    }

    .app > .content > .body > .content {
        @apply flex flex-col w-full h-full bg-[#000] bg-opacity-20;
    }
}

@media (max-width: 1250px) {
    .qr-login {
        @apply hidden;
    }
}

icon {
    font-family: 'Material Symbols Rounded';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24
}  

* {
    animation-duration: 0.25s;
    animation-fill-mode: both;
}

@keyframes anim {
    0% {
        transform: translate(-50%, -80%) scale(1.1);
        opacity: 0;
    }

    100% {}
}

.login {
    animation-name: anim;
}

.cet-icon {
    width: unset !important;
    padding-left: 12px !important;
}

.cet-icon > img {
    height: 11px !important;
}

.cet-menubar {
    display: none !important;
}

.cet-title {
    font-size: 13px !important;
    display: none !important;
}

.cet-title-center {
    position: unset !important;
    left: 0 !important;
    transform: translateX(0) !important;
}

.cet-titlebar.cet-shadow {
    box-shadow: none !important;
}