@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(./global/Base.css);
@import url(./global/Imports.css);
@import url(./global/Titlebar.css);

@import url(./global/Login.css);

@import url(./global/ServerList.css);
@import url(./global/HomeSidebar.css);
@import url(./global/HomePage.css);
/* @import url(./global/ServerSidebar.css); */

@layer components {
    .btn-blue {
        @apply text-white font-bold px-4 py-2 rounded bg-blue-600 hover:bg-blue-500;
    }

    .login {
        @apply bg-gray-600 rounded-lg shadow-lg p-8 flex flex-row gap-3 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 py-2 w-1/2;
    }

    .text-input {
        @apply bg-gray-900 text-white py-2 px-4 rounded outline-none focus:outline-blue-500 focus:outline-offset-0;
    }

    .button-primary {
        @apply bg-blue-600 text-white py-2 px-4 rounded hover:bg-blue-500 outline-none focus:outline-blue-500 focus:outline-offset-0;
    }

    .plain-login {
        @apply flex flex-col gap-3 w-full;
    }

    .plain-login>h1 {
        @apply text-2xl font-bold;
    }

    .qr-login {
        @apply flex flex-col gap-3 w-full items-center justify-center;
    }

    .qr-login > h1 {
        @apply text-2xl font-bold;
    }

    /* template end */
}

@media (max-width: 1250px) {
    .qr-login {
        @apply hidden;
    }
}

icon {
    font-family: 'Material Symbols Rounded';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24
}  

* {
    animation-duration: 0.25s;
    animation-fill-mode: both;

    box-sizing: border-box;
}

@keyframes anim {
    0% {
        transform: translate(-50%, -80%) scale(1.1);
        opacity: 0;
    }

    100% {}
}

.login {
    animation-name: anim;
}